@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">Onde o Humor negro nunca foi tão claro...</h1>
    <br /><br /><br />
    <p><img src="~/imagens/oip-removebg-preview.png" /></p>
</div>
