@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>
<br />
<br />
<p>Esta página está correr num servidor.</p>
<p>Assim não existe qualquer ameaça de segurança.</p>
<img src="~/imagens/security-funds.gif" />
